*.py[co]
__pycache__
*.idea
*.sublime-project
*.sublime-workspace
*.iml
*.db
*.orig
*~
.coverage
.vscode
.grive
docker/.overgrive.*
docs/_build
docs/_static
docs/_templates
.project
.pydevproject
.settings/org.eclipse.core.resources.prefs
.tmp
.pytest_cache/*

.ropeproject
.gitconfig
